<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pactera.enterprisesecretary"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0.0">

    <!-- 拍照 -->
    <uses-permission android:name="android.permission.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--读取外部存储-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--写入外部存储-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--在手机屏幕关闭后后台进程仍然运行-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--访问电话状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--录制声音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MyBaseActivity" />
        <activity android:name=".activity.ChatActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.wow.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.CommonBigImageActivity"></activity>
    </application>

</manifest>